<div class="row">
    <div class="col-md-6 col-lg-4 col-xl-3 card" *ngFor="let article of articles">
        <div *ngIf="article.multimedia">

            <img class="img-responsive" [src]="article.multimedia[0].url" alt="thumbnail.png">

        </div>
        <a [href]="article.url" target="_blank">{{article.title}}</a>
        <div>{{article.abstract}}</div>
   
        <div class="form-check rdLater">
            <label>
                <input type="checkbox" class="form-check-input" [checked]="checkforReadLater(article)" (change)="readLater(article, $event)">Read Later
            </label>
        </div>

    </div>

  
</div>
<div class="text-right" *ngIf="articles?.length">
    <button type="button" class="btn btn-secondary" (click)="next()" *ngIf="page != totalPages-1">Load next</button>
</div>